body {
    background-color: #4da3ff; /* warna biru */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #003d80;
}

p {
    font-size: 16px;
    margin: 6px 0;
}

h3 {
    margin-top: 15px;
    color: #003d80;
}